In [21]:
import pandas as pd

file_names = [
    'Data/Orders301123.csv', 'Data/Orders011223.csv', 'Data/Orders031223.csv',
    'Data/Orders041223.csv', 'Data/Orders051223.csv', 'Data/Orders061223.csv',
    'Data/Orders071223.csv'
]

# Create an empty list to store DataFrames
dfs = []

# Read each file and store the DataFrames in a list
for file in file_names:
    date = file.split('Orders')[1].split('.')[0]  # Extract date from file name
    df = pd.read_csv(file)
    df['Date'] = pd.to_datetime(date, format='%d%m%y')  # Create a 'Date' column
    dfs.append(df)

# Concatenate all DataFrames into one
concatenated_df = pd.concat(dfs, ignore_index=True)

# Optionally, sort by date
concatenated_df.sort_values('Date', inplace=True)

# Now, concatenated_df contains the merged data from all files

In [22]:
# Rename columns using rename() method
concatenated_df = concatenated_df.rename(columns={
    'PICK_GROUP_NAME': 'Delivery Run',
    'Textbox75': 'Total Lines',
    'Textbox78': 'Picked Lines',
    'Textbox26': 'Completed (%)',
    'psid': '# of Orders', 
    'psid1': 'Picked Orders', 
    'QTY_ORDERED': 'Units Ordered',
    'QTY_PICKED': 'Units Picked'
    # Add more columns to rename as needed
})

# Drop columns using drop() method
columns_to_drop = ['Group_Pickers', 'Textbox76', 'Textbox79', 'Textbox27',
                  'Textbox64', 'Textbox82', 'Textbox60', 'Textbox61']
concatenated_df = concatenated_df.drop(columns=columns_to_drop)


# Now, concatenated_df has renamed columns and dropped specified columns

In [23]:
# Drop rows with NaN values in the 'PICK_GROUP_NAME' column
concatenated_df = concatenated_df.dropna(subset=['Delivery Run'])

# Filter rows based on specified strings in 'PICK_GROUP_NAME' column
concatenated_df = concatenated_df[~concatenated_df['Delivery Run'].str.contains('Chiller|Dry|Freezer|Shed|PICK_GROUP_NAME2', case=False)]

# Assuming you have concatenated_df from the previous example

In [24]:
concatenated_df.to_csv('combined_week1_order_data.csv', index=False)

### Week 2 ###

In [25]:
file_names2 = [
     'Data/Orders081223.csv','Data/Orders101223.csv', 'Data/Orders111223.csv','Data/Orders121223.csv', 'Data/Orders131223.csv', 'Data/Orders141223.csv', 'Data/Orders141223.csv'
]

# Create an empty list to store DataFrames
dfs2 = []

# Read each file and store the DataFrames in a list
for file in file_names2:
    date = file.split('Orders')[1].split('.')[0]  # Extract date from file name
    df2 = pd.read_csv(file)
    df2['Date'] = pd.to_datetime(date, format='%d%m%y')  # Create a 'Date' column
    dfs2.append(df2)

# Concatenate all DataFrames into one
concatenated_df2 = pd.concat(dfs2, ignore_index=True)

# Optionally, sort by date
concatenated_df2.sort_values('Date', inplace=True)

# Now, concatenated_df contains the merged data from all files

In [26]:
# Rename columns using rename() method
concatenated_df2 = concatenated_df2.rename(columns={
    'PICK_GROUP_NAME': 'Delivery Run',
    'Textbox75': 'Total Lines',
    'Textbox78': 'Picked Lines',
    'Textbox26': 'Completed (%)',
    'psid': '# of Orders', 
    'psid1': 'Picked Orders', 
    'QTY_ORDERED': 'Units Ordered',
    'QTY_PICKED': 'Units Picked'
    # Add more columns to rename as needed
})

# Drop columns using drop() method
columns_to_drop2 = ['Group_Pickers', 'Textbox76', 'Textbox79', 'Textbox27',
                  'Textbox64', 'Textbox82', 'Textbox60', 'Textbox61']
concatenated_df2 = concatenated_df2.drop(columns=columns_to_drop2)

In [29]:
# Drop rows with NaN values in the 'PICK_GROUP_NAME' column
concatenated_df2 = concatenated_df2.dropna(subset=['Delivery Run'])

# Filter rows based on specified strings in 'PICK_GROUP_NAME' column
concatenated_df2 = concatenated_df2[~concatenated_df2['Delivery Run'].str.contains('Chiller|Dry|Freezer|Shed|PICK_GROUP_NAME2', case=False)]

# Assuming you have concatenated_df from the previous example

In [30]:
concatenated_df2.to_csv('combined_week2_order_data.csv', index=False)